<header>
    <div class="header-flex container">
        <img class="logo" src="/assets/images/logo.svg" title="Logotipo E-Players" alt="imagem do E-Players">

        <nav class="menu">
            <a href="#">Início</a>
            <a href="#">Horário</a>
            <a href="#">Campeonato</a>
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
            <a routerLink="login">Login</a>
        </nav>

        <img id="menu-ativo" class="menu-bars" src="/assets/images/bars.svg">
    </div>
</header>