.container {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-item img {
    height: 610px;
}

.banner .banner-info-box {
    display: flex;
    justify-content: end;
    height: 610px;
    align-items: center;
}

.banner .banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 280px;
    border: 1px solid transparent;
}

.banner-info h1 {
    color: white;
    text-decoration: none;
    font-family: Titilium-Web;
    font-size: 60px;
}

.banner-info p {
    color: white;
    text-decoration: none;
    font-family: Titilium-Web;
    font-size: 19px;
}

.banner-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #C91919;
    background-color: #C91919;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    color: white;
    font-family: 'Titilium-Web';
    margin-top: 40px;
}

.banner-info a:hover {
    background-color: #560505;
    border: #560505;
}

/* Patrocinados */
.patrocinados {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.patrocinados-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Produtos */

.Produtos {
    background-color: #1A1A1A;
    padding: 30px 0;
}

.Produtos #Titulo-produtos {
    font-family: 'Roboto-Regular';
    color: white;
    margin-top: 10px;
}

.container {
    max-width: 1200px;
}

.card {
    box-shadow: 1px 1px 13px black;
    margin-bottom: 30px;
    ;
    background-color: #000000;
    background-image: linear-gradient(360deg, #111111, #5a5959cc, transparent);
    max-width: 230px;
}

.Produtos .card-title {
    color: white;
    font-family: 'Roboto-Medium';
    text-transform: uppercase;
}

.Produtos .card-text {
    color: white;
    font-family: 'Roboto-Regular';
}

.card .card-price {
    font-size: 1.5rem;
    font-family: 'Roboto-Medium';
}

.btn-primary:hover {
    color: #fff;
    background-color: #560505;
    border-color: #560505;
}

.btn-primary {
    color: #fff;
    background-color: #c91919;
    border-color: #c91919;
    font-family: 'Roboto-Regular';
    ;
    text-transform: uppercase;
    width: 100%;
}

main .descricao {
    display: flex;

    background: url(/assets/images/fundo-sobre.png);
    background-repeat: round;
    height: 75vh;
}

main .descricao p {
    color: white;
    font-size: calc(2vh *1.2);
    position: relative;
    top: 133px;
    width: 41rem;
    height: 18rem;
    margin: 0 auto;
}

main .descricao img {
    position: relative;
    left: -239px;
    width: 27rem;
}