<!-- Aqui é o local onde os componentes primários e secundários são chamados e unidos, para serem renderizados no index.html -->
<!-- se uma tag for colocada aqui ela serárenderizada também no index.html-->

<router-outlet></router-outlet>

<!-- <app-home></app-home>
<app-login></app-login>  Quando os templates são omitidos, o template <router-outlet> mostra os componentes com base na rota especificada no app-routing.modules-->
<!-- Quando não são omitidos são mostrados de em todas as rotas. OBS: deixar declarado só o que irá ser apresentado em todas as rotas, se há algo que
será visto somente quando a rota for chamada, evitar de declarar aqui o seu template.
-->